.card {
  width: 40%;
  height: 70%;
  overflow: auto;
  margin-top: 20px;
  border-radius: 5px;

  @media screen and (max-device-width: 480px) {
    width: 150%;
  }
}

.card p {
  text-align: center;
}

.card ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #6d98ff;
  border-radius: 5px;
}

.card::-webkit-scrollbar {
  width: 10px;
  // background-color: black;
}

.card::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 20px;
}

.card::-webkit-scrollbar-thumb {
  background-color: #d7d6cd;
  border-radius: 20px;
}

.card::-webkit-scrollbar-thumb:hover {
  background-color: rgb(80, 78, 78);
}

.card li {
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 9px;
  border: 2px solid black;
  font-weight: 500;
}

.odd {
  background-color: lightpink;
}

.even {
  background-color: lightgreen;
}
