.form input {
  display: block;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  border: none;
}

.form input:focus {
  outline: none;
  box-shadow: 0 0 10px lightgrey;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form button {
  width: 50px;
  border-radius: 3px;
  border: none;
  color: white;
  height: 35px;
  font-weight: bold;
  background-color: #130943;
  margin: 10px;
}

.button {
  background-color: #130943;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    width: 50px;
  }
  50% {
    width: 54px;
    height: 39px;
    margin: 8px;
  }
  100% {
    width: 50px;
  }
}

.bounce {
  -webkit-animation: bounce 0.8s infinite;
  -moz-animation: bounce 0.8s infinite;
  -o-animation: bounce 0.8s infinite;
  animation: bounce 0.8s infinite;
}
